<div>
    <div class="font-sans leading-tight min-h-screen bg-grey-lighter p-8">
        <div class="w-3/12 mx-auto bg-white rounded-lg overflow-hidden shadow-lg">
          <div class="bg-cover h-40" style="background-image: url('https://images.unsplash.com/photo-1522093537031-3ee69e6b1746?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a634781c01d2dd529412c2d1e2224ec0&auto=format&fit=crop&w=2098&q=80');"></div>
          <div class="border-b px-4 pb-6">
              <div class="text-center sm:text-left sm:flex mb-4">
                  <img class="h-32 w-32 rounded-full border-4 border-white -mt-16 mr-4" src="https://randomuser.me/api/portraits/men/10.jpg" alt="">
                  <div class="py-2">
                      <h3 class="font-bold text-2xl mb-1 text-gray-800">John Doe</h3>
                      <div class="inline-flex text-grey-dark sm:flex items-center">
                         
                            <div class="mr-1 mt-1">
                                <svg id="Capa_1" enable-background="new 0 0 479.058 479.058" height="15" viewBox="0 0 479.058 479.058" width="15" xmlns="http://www.w3.org/2000/svg"><path d="m434.146 59.882h-389.234c-24.766 0-44.912 20.146-44.912 44.912v269.47c0 24.766 20.146 44.912 44.912 44.912h389.234c24.766 0 44.912-20.146 44.912-44.912v-269.47c0-24.766-20.146-44.912-44.912-44.912zm0 29.941c2.034 0 3.969.422 5.738 1.159l-200.355 173.649-200.356-173.649c1.769-.736 3.704-1.159 5.738-1.159zm0 299.411h-389.234c-8.26 0-14.971-6.71-14.971-14.971v-251.648l199.778 173.141c2.822 2.441 6.316 3.655 9.81 3.655s6.988-1.213 9.81-3.655l199.778-173.141v251.649c-.001 8.26-6.711 14.97-14.971 14.97z"/></svg>
                            </div>
                          <div class="text-gray-700">johndoe@gmail.com</div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Todo: Remove Below if not needed -->
          <!-- <div class="px-4 py-4">
              <div class="flex items-center  mb-4 text-lg text-gray-800">
                  Preference
              </div>
              <div class="ml-3 max-w-sm">
                    <div class="flex my-5">
                       <div class="w-2/4 text-gray-700 text-md text-bold">Gender</div>
                       <div class="w-2/4 text-gray-600 text-md">-</div>
                    </div>
                    <div class="flex my-5">
                        <div class="w-2/4 text-gray-700 text-md text-bold">Language</div>
                        <div class="w-2/4 text-gray-600 text-md">-</div>
                     </div>

                     <div class="flex my-5">
                        <div class="w-2/4 text-gray-700 text-md text-bold">Production Companies</div>
                        <div class="w-2/4 text-gray-600 text-md">-</div>
                     </div>
              </div>
          </div> -->
        </div>
      </div>

</div>
