.movie-details-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  width: 70%;
}

.movie-card {
  display: flex;
  /* align-items: center; */
}

.movie-img-container {
  margin-right: 20px;
}

.movie-img-container img {
  height: 600px;
}

.movie-img-desc {
    width: 49%;
}

.movie-overview {
   
}

@media (max-width: 550px) {
  .movie-details-container {
    width: 100%;
    height: calc(100% - 24px);
    overflow: hidden;
  }

  .movie-card {
    flex-direction: column;
    position: relative;
    margin-right: 0;
    margin-top: 51px;
    height: 100%;
    align-items: flex-start;
  }

  .movie-img-container {
    margin-right: 0;
  }

  .movie-img-container img {
    height: auto;
  }

  .movie-img-desc {
    width: 100%;
    padding: 20px;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    background: linear-gradient(to top, black, transparent);
  }

  .movie-overview {
      
  }
}


