<div class="flex justify-center items-center h-screen slide-background">
  <div
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col w-4/12"
  >
  <app-logo></app-logo>
    <div
      *ngIf="error !== undefined"
      class="mb-4 inline-block "
      [ngClass]="{ 'text-green-500': !error, 'text-red-500': error }"
    >
      {{ message }}
    </div>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="firstName"
        >
          First Name
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
          id="firstName"
          formControlName="firstName"
          type="text"
          placeholder="First Name"
        />
        <div
          *ngIf="firstName.invalid && firstName.dirty && firstName.touched"
          class="text-error bg-grey-400"
          id="firstNamewarning"
        >
          {{ INVALID_FIRST_NAME }}
        </div>
      </div>
      <div class="mb-3">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="lastName"
        >
          Last Name
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
          id="lastName"
          formControlName="lastName"
          type="text"
          placeholder="Last Name"
        />
        <div
          *ngIf="lastName.invalid && lastName.dirty && lastName.touched"
          class="text-error bg-grey-400"
          id="lastNamewarning"
        >
          {{ INVALID_LAST_NAME }}
        </div>
      </div>
      <div class="mb-3">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
          Email
        </label>
        <input
          class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3"
          id="email"
          formControlName="email"
          type="email"
          placeholder="example@gmail.com"
        />
        <div
          *ngIf="email.invalid && email.dirty && email.touched"
          class="text-error bg-grey-400"
        >
          {{ INVALID_EMAIL }}
        </div>
      </div>
      <div class="mb-6">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="password"
        >
          Password
        </label>
        <input
          class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3"
          id="password"
          formControlName="password"
          type="password"
          placeholder="******************"
        />
        <div
          *ngIf="password.invalid && password.dirty && password.touched"
          class="text-error bg-grey-400"
        >
          {{ INVALID_PASSWORD }}
        </div>
      </div>
      <div class="flex items-center justify-between">
        <button
          class="bg-red-700 w-40 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          type="submit"
        >
          Sign Up
        </button>
        <div>
          <span class="text-sm text-gray-500 mr-2"> Already a user?</span>
          <a
            class="inline-block align-baseline font-bold text-blue-900 hover:text-blue-700"
            routerLink="/login"
          >
            Login
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
