.logo {
    max-width: 50%;
    height: auto;
}

.navbarText:hover {
    color: #eb1a1a
}

.blur-bg {
    background-color: #e6e6e629;
}



@media only screen and (max-width: 600px) {
    .search-input {
        display: none;
    }

    .user-name {
        display: none;
    }
    .nav-width{
        width: 100vw;
    }

    
}