<nav
  class="flex items-center justify-between flex-wrap px-10 py-4 fixed w-full top-0 z-50 bg-black"
>
  <div
    class="flex item-center w-16 h-10"
    style="filter: brightness(0) invert(1);"
  >
    <a
      class="text-white navbarText w-full inline-block"
      routerLink="/dashboard"
    >
      <img src="../../assets/DiMoLogoFinal-1.png" alt="App Logo" />
    </a>
  </div>
 

  <div
    *ngIf="userDetails"
    class="flex relative"
    (clickOutside)="onMenuClickedOutside($event)"
  >

    <div class="text-white mr-4 user-name">{{ userDetails.firstName }}</div>
    <div class="flex items-center cursor-pointer" (click)="toggleMenu()">
      <img
        class="w-6 h-6"
        src="../../assets/person-icon.png"
        alt="An Image of Person"
      />
    </div>
    <ul
      class="flex flex-col text-right absolute menu top-0  w-40 blur-bg"
      style="z-index:1; top: 35px; right: -12px;"
      *ngIf="this.menuOpen"
    >
      <li class="mr-6 p-2">
        <a
          class="text-white navbarText w-full inline-block"
          routerLink="/profile"
          >View Profile</a
        >
      </li>
      <li
        class="mr-6 p-2 text-white navbarText cursor-pointer"
        (click)="logout()"
      >
        Logout
      </li>
    </ul>
  </div>
</nav>
