:host {
  display: block;
}

:host.no-result {
  pointer-events: none;
}

.option {
  margin-bottom: 5px;
  font-size: 14px;
  cursor: pointer;
  display: block;
}

.option:hover {
  background-color: lightgrey;
}
