/* You can add global styles to this file, and also import other style files */
/* $fa-font-path: "../node_modules/font-awesome/fonts"; */
@import "../node_modules/font-awesome/css/font-awesome.css";

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  font-size: medium;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.53),
      rgba(0, 0, 0, 0.5)
    ),
    url('./assets/cinema.jpeg');
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.loader{
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

svg path,
svg rect{
  fill: #FF6700;
}