<app-navigation></app-navigation>
<div class="userPrfile flex">
  <div class="userImage">
      <img class="image" src="../../assets/person-icon.png" alt="An Image of Person">
  </div>
  <div class="userDetails">
    <div class="text-6xl text-white" id="fullname">{{this.userDetails.firstName | titlecase}} {{this.userDetails.lastName | titlecase}}</div>
    <div class="text-3xl text-color-cb mt-4" id="email">{{this.userDetails.emailId}}</div>
    <div class="text-white mt-10">
      <div class="text-4xl text-color-aq">Preferences</div>
      <div *ngFor="let prefrence of userDetails.prefrences">
        <div class="mt-5 text-3xl text-color-cb">{{prefrence.name}}</div>
        <div class="flex">
          <div *ngFor="let item of prefrence.Value">
            <div class="item-tab">{{item}}</div>
          </div>
        </div>
        
      </div>
    </div>
  </div>

</div>
