<div class="search---container">
    <div class="control">
        <input autocomplete="false" autocomplete="false" class="rounded pl-8 form-control bg-transparent text-white p-2 w-full outline-none" id="movieSearchInput" #movieSearchInput placeholder="Search..." [formControl]="control" [appAutocomplete]="autocomplete">
    </div>
    
    <!-- <p style="color: black; font-size: 18px; margin-bottom: 10px;">{{control.value}}</p> -->
    
    <app-autocomplete #autocomplete="appAutocomplete">
        <ng-template appAutocompleteContent>
            <ng-container *ngIf="(options) as result">
                <app-option *ngFor="let option of result" [value]="option.label" class="option-list">
                    <div class="option-list" (click)="openMovieDetails(option.id)">
                        <img class="option-list" src="{{option.posterUrl}}" style="display: inline-block; width: 40%; height: 100%;" />
                        <div style="display: inline-block; width: 60%;font-size: 20px;text-align: center;">
                            {{ option.label }}
                        </div>
                    </div>
                </app-option>
                <app-option class="no-result" *ngIf="!options.length && !isSearching && control.value.length">No result...</app-option>
                <app-option class="no-result" *ngIf="isSearching">Searching...</app-option>
            </ng-container>
        </ng-template>
    </app-autocomplete>
</div>